@import "tailwindcss";

:root {
  --background: #FEFFF0;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FEFFF0;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-features {
  background-image: url('/assets/images/backdrop.png');
  background-size: cover;
  background-position: center;
}

.features-swiper {
  padding-bottom: 4rem; 
}

.features-swiper .swiper-pagination {
  bottom: -20px;
}

.bg-footer {
  background-image: url('/assets/images/backdrop1.png'); 
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
